services:
    postgres:
        container_name: bb-postgres
        image: postgres:15.4-alpine
        volumes:
            - vol-postgres:/var/lib/postgresql/data
            - ./docker/development/create-test-database.sh:/docker-entrypoint-initdb.d/create-test-database.sh
        environment:
            POSTGRES_USER: app
            POSTGRES_PASSWORD_FILE: /run/secrets/db_password
            POSTGRES_DB: app
            POSTGRES_TEST_DB: test
        ports:
            - "54321:5432"
        secrets:
            - db_password

    php-fpm:
        container_name: bb-php-fpm
        build:
            context: ./docker/development/fpm
        environment:
            PHP_IDE_CONFIG: "serverName=bb.local"
            S3_BUCKET: "blog-dev"
            S3_ENDPOINT: "http://minio:9000"
            S3_PUBLIC_URL: "http://localhost:9000"
        volumes:
            - ./:/app
        depends_on:
            - postgres
            - minio
        secrets:
            - s3_access_key
            - s3_secret_key

    php-cli:
        container_name: bb-php-cli
        build:
            context: ./docker/development/cli
        environment:
            PHP_IDE_CONFIG: "serverName=bb.local"
        volumes:
            - ./:/app
            - vol-composer:/root/.composer/cache
        depends_on:
            - postgres

    nginx:
        container_name: bb-nginx
        build:
            context: ./docker/development/nginx
        volumes:
            - ./:/app
        ports:
            - "8088:80"
        depends_on:
            - php-fpm

    mailer:
        container_name: bb-mailer
        image: mailhog/mailhog
        ports:
            - "8025:8025"
            - "1025:1025"

    minio:
        container_name: bb-minio
        image: 'bitnami/minio:2024.7.31'
        ports:
            - "9000:9000"
            - "9011:9011"
        environment:
            MINIO_ROOT_USER: minio-root-user
            MINIO_ROOT_PASSWORD_FILE: /run/secrets/minio_root_password
            MINIO_CONSOLE_PORT_NUMBER: 9011
        volumes:
            - vol-minio:/bitnami/minio/data
        secrets:
            - minio_root_password

secrets:
    db_password:
        file: ./docker/development/secrets/db_password
    minio_root_password:
        file: ./docker/development/secrets/minio_root_password
    s3_access_key:
        file: ./docker/development/secrets/s3_access_key
    s3_secret_key:
        file: ./docker/development/secrets/s3_secret_key

volumes:
    vol-postgres:
    vol-composer:
    vol-minio:
#    vol-zookeeper:
#    vol-kafka:
